<body>
<div class="block">
  <div class="row-a">
    <mat-card class="card" id="bonanza-card" routerLink="/bonanza-game">
      <!--      <mat-card-title > Cost Flow </mat-card-title>-->
      <mat-card-content class="costflow-divider">
        <img src="../assets/bonanza.png">
       <!-- <h1>Cost Flow </h1>-->
      </mat-card-content>
    </mat-card>

    <mat-card class="card" id="three-card" routerLink="/301">
      <!--      <mat-card-title id="costflow-dividers">Utility</mat-card-title>-->
      <mat-card-content class="costflow-divider">
        <img src="../assets/301.png">
       <!-- <h1>Utility </h1>-->
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row-a">
    <mat-card class="card" id="cricket-card" routerLink="/cricket">
      <!--      <mat-card-title>Supply Cost</mat-card-title>-->
      <mat-card-content class="costflow-divider">
        <img src="../assets/cricket.png">
        <!--<h1>Supply Cost </h1>-->
      </mat-card-content>
    </mat-card>

    <mat-card class="card" id="blackout-card" routerLink="/blackout">
      <!--      <mat-card-title>Ortho Construct</mat-card-title>-->
      <mat-card-content class="costflow-divider">
        <img src="../assets/blackout.png">
        <!--<h1>Ortho Construct </h1>-->
      </mat-card-content>
    </mat-card>
  </div>
</div>
</body>







<!--<div class="landing-page-container">-->
<!--  <div>-->
<!--    <button id="btn-costflow" class="btn landing-page-menu" routerLink="/costflow">Cost Flow</button>-->
<!--    <button id="btn-utility" class="btn landing-page-menu" routerLink="/utility">Utility</button>-->
<!--  </div>-->


<!--  <div>-->
<!--    <button id="btn-supply-cost" class="btn landing-page-menu" routerLink="/supplycost" >Supply Cost</button>-->
<!--    <button id="btn-ortho-construct" class="btn landing-page-menu" routerLink="/ortho-landing">Ortho Construct</button>-->
<!--  </div>-->


<!--</div>-->
